.currently-playing {
    background-color: #a0a0a0;
}

.header {
    a:hover, a:link, a:active, a:visited {
    color: #ffffff;
    padding-left: .25em;
    padding-right: .25em;
    text-decoration: none;
  }
}