<template>
  <div>

    <h2>Podcasts</h2>

  <audioPlayer v-bind:entries="podcasts"></audioPlayer>

</div>
</template>

<script>

import http from 'http'
import AudioPlayer from '@/components/AudioPlayer'

export default {
  components: {
    audioPlayer: AudioPlayer,
  },
  data() {
    return {
      podcastsSources: [
        { name: 'John Batchelor Show', rss: 'https://audioboom.com/channels/4002274.rss'},
      ],
      podcasts: [

      ]
    }
  },
  mounted() {
    this.loadRss()
  },
  methods: {
    playPodcasts() {
      console.info("Play the podcasts list.")
    },
    loadRss() {
      this.podcastsSources.forEach( v=> {
        if (v['rss']) {

          let url = btoa(v['rss'])

          http.get(`/rss/${url}`, resp => {          
            if (resp.statusCode == '200') {
              var data = ''
              resp.on('data', chunk => data += chunk)
              resp.on('end', () => {
                var parser = new DOMParser()
                var xml = parser.parseFromString(data, 'text/xml')
                var items = xml.getElementsByTagName('item')
                items.forEach(item => {

                  this.podcasts.push({
                    name: item.getElementsByTagName('title')[0].innerHTML,
                    link: item.getElementsByTagName('link')[0].innerHTML,
                    description: item.getElementsByTagName('description')[0].innerHTML,
                    pubDate: Date.parse(item.getElementsByTagName('pubDate')[0].innerHTML),
                    url: item.getElementsByTagName('enclosure')[0].getAttribute('url'),
                    show: false
                  })
                })
                
                this.podcasts = this.podcasts.sort((a, b) => a.pubDate > b.pubDate)
                
              })
            } else {
              console.info("Error on response.", resp)
            }
          })

        }

      })

      // After loading everything, sort the podcasts list.

    }

  }
}
</script>

<style scoped>
div {
  text-align: left;
  align-content: left;
}
</style>
