<template>
    <div>
        <div>
            <p v-if="currentName">Playing {{currentName}}.</p>
            <audio ref="player" controls v-on:ended="onEnded()" v-on:canplay="onCanPlay()" >
                <source v-bind:src="src" v-bind:type="type">
                Your browser does not support the audio tag.
            </audio>
            <br />

            <a href="#" v-on:click.prevent.stop="onPrev">Prev</a> |
            <a href="#" v-on:click.prevent.stop="onNext">Next</a>
        </div>

        <div v-for="(i,j) in entries" v-bind:key="i.name" v-bind:class="j == currentEntry? 'currently-playing': ''">
            {{j}}
            <a href="#" v-on:click.prevent.cancel="i.show = !i.show">+/-</a>&nbsp;
            <a href="#" v-on:click.prevent.cancel="playEntry(j)">Play</a>&nbsp;
            <a href="{i.link}">{{i.name}}</a>
            <span v-if="i.show">{{i.description}}</span>
        </div>

    </div>
</template>

<script>
export default {
    props: {
        entries: Array,
    },
    watch: {
        "entries": function() {
            this.entriesUpdated()
        }
    },
    methods: {
        getPlayListClass(i) {
            if (i == this.currentEntry) {
                return "current"
            }
            else {
                return ""
            }
        },
        goToEntry(i) {
            if (i < this.entries.length && i >= 0) {
                this.currentEntry = i
                this.src = this.entries[this.currentEntry].url
                this.type = 'audio/mpeg'
                this.$refs.player.load()
                this.currentName = this.entries[this.currentEntry].name
                this.currentLink = this.entries[this.currentEntry].link
                return true
            }
            else {
                return false
            }
        },
        onCanPlay() {
            this.$refs.player.play()
        },
        onEnded() {
            this.onNext()
        },
        playEntry(i) {
            if (this.goToEntry(i)) {
                this.autoPlay = true
            }
        },
        onNext() {
            if (this.goToEntry(this.currentEntry+1)) {
                this.autoPlay = true
            }
        },
        onPrev() {
            if (this.goToEntry(this.currentEntry-1)) {
                this.autoPlay = true
            }
        },
        entriesUpdated() {
            this.goToEntry(0)
        }
    },
    data() {
        return {
            // entries: [],
            src: null,
            type: 'audio/mpeg',
            autoPlay: false,
            currentEntry: -1,
            currentName: null,
            currentLink: null,
        }
    }
}
</script>

<style  lang="scss" scoped>
</style>