<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      class="header"
    >
      <div class="d-flex align-center mr-2">
        <router-link to="/">VuePod</router-link>
      </div>

      <v-spacer></v-spacer>

      <div id="nav" class="d-flex align-center mr-2">
        <router-link to="/about">About</router-link> |
        <router-link :to='{name: "Podcasts"}'>Podcasts</router-link>
      </div>
    </v-app-bar>



    <v-content>
      <div id="app">
        <router-view/>
      </div>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
  }),
};
</script>

<style lang="scss" >
@import '@/styles/vuepod.scss';
</style>